/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9a6d5a;
}

.order-button button a{
  color:#EAD3C1;
  text-decoration: none;

}
/* Header and Navigation Styles */
.header-background {
  background-color: #2C1300;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick it to the top */
  z-index: 10; /* Ensure it stays above other content */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
}

#logo {
  width: 150px;
  margin-left: 20%;
}

#nav {
  text-align: center;
  flex-grow: 1;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
}

#nav li {
  padding: 0 15px;
}

#nav a {
  text-decoration: none;
  color: #F4EDE4;
  transition: color 0.3s;
}

#nav a:hover,
#nav a:focus {
  color: #FFD700;
}

/* Main Content and Image Container */
.main-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.main-content {
  width: 50%;
  padding: 20px;
  overflow-y: auto; /* Allow scrolling if content overflows */
  background-color: #9a6d5a; /* Light background to reduce eye strain */
  z-index: 10; /* Ensure it stays above other content */
  align-content: center;
  text-align: center;
}

.main-content section {
  margin-bottom: 20px; /* Space between sections */
}

.main-content h2 {
  color: #F4EDE4; /* Dark color for headings for contrast */
  font-size: 24px; /* Large font size for clear hierarchy */
  margin-bottom: 10px; /* Space below the heading */
  margin-top: 50px;
}

.main-content p {
  line-height: 1.6; /* Increased line height for readability */
  margin-bottom: 10px; /* Space between paragraphs */
  color: #F4EDE4;
}

.main-content a {
  color: #EAD3C1; /* Provides a standard link color */
  text-decoration: none; /* No underline to keep it clean */
}

.main-content a:hover {
  text-decoration: underline; /* Underline on hover for better user interaction */
}

/* Image Section */
.main-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #2C1300; /* Dark background to match the header */
  border-radius: 0 8px 8px 0; /* Rounded corners for a modern look */
}

.main-image img {
  max-height: 100%;
  object-fit: cover; /* Ensure the image covers the section appropriately */
}

/* Footer Styles */
footer {
  background-color: #EAD3C1;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.footer-section {
  padding: 0 20px;
}

/* Quick Links Styles */
.quick-links {
  flex: 0.9;
  text-align: left;
}

.quick-links ul {
  list-style: none;
  padding: 10px 0px;
  margin-left: 30%;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  color: #2C1300;
  text-decoration: none;
}

/* Subscription Form Styles */
.keep-in-touch {
  flex: 1.2;
  padding: 10px 0px;
  text-align: left;
}

.keep-in-touch h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2C1300;
}

.keep-in-touch form {
  display: flex;
  flex-direction: column;
}

.footer-section.keep-in-touch input[type="text"],
.footer-section.keep-in-touch input[type="email"] {
  padding: 10px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #2C1300;
  background-color: transparent;
}

.footer-section.keep-in-touch input[type="text"]:hover,
.footer-section.keep-in-touch input[type="email"]:hover {
  border-bottom: 2px solid #A2571A;
}

.keep-in-touch input[type="checkbox"] {
  margin-right: 5px;
}

.keep-in-touch label {
  font-size: 14px;
  color: #2C1300;
}

.keep-in-touch button {
  padding: 10px;
  background-color: transparent; 
  color: #2C1300;
  border: 2px solid #2C1300;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
}

.keep-in-touch button:hover {
  background-color: #2C1300; 
  color: #fff;
}

/* Social Media Links Styles */
.social-media {
  flex: 0.9;
  text-align: right;
}

.social-media-links {
  padding: 20px 0px;
  margin-right: 30%;
}

.social-media-links a {
  margin-right: 10px;
}

.social-media-links a img {
  width: 24px;
  height: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .main-content, .main-image {
      width: 100%;
      height: auto;
      border-radius: 0;
  }

  .main-image {
      display: none; /* Hide the image on smaller screens */
  }

  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .quick-links ul {
      margin-left: 0;
      text-align: center;
  }

  .social-media-links {
      margin-right: 0;
  }
}
