/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.order-button button a{
  color:#EAD3C1;
  text-decoration: none;

}

/* Announcement Section Styles */
.announcement {
  overflow: hidden;
  padding: 5px 0;
  background: #2C1300;
  white-space: nowrap;
  position: relative;
  color: #F4EDE4;
}

.announcement:before,
.announcement:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.announcement:hover .messages {
  animation-play-state: paused;
}

.messages {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.message {
  display: inline-block;
  margin: 0 50px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Header styles */
.header-background {
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  background: transparent;
  transition: background-color 0.5s ease;
  z-index: 10;
}

.header-background.scrolled {
  background-color: #2C1300;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  height: 40px;
}

#logo {
  transition: width 0.5s ease;
  width: 150px;
  display: block;
  padding: 20px;
}

#alt-logo {
  width: 150px; 
  display: none; 
  margin-left: 20%;
}

.header-background.scrolled #logo {
  display: none;
}

.header-background.scrolled #alt-logo {
  display: block;
}
 
#nav {
  margin-top: 30px;
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  padding-right: 40px;
}

#nav.scrolled {
  margin-top: 10px;
  padding-top: 0;
}

#nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: right; 
  align-items: flex-start;
}

#nav li {
  padding: 0 15px;
}

#nav a {
  text-decoration: none;
  color: #F4EDE4;
}

/* Main Content Styles */
.main-banner {
  position: relative;
  height: 100vh;
  background-image: url('../images/header background.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.title-and-button {
  position: absolute;
  top: 45%;
  left: 10%;
  max-width: 500px;
}

.image-overlay-title {
  color: #F4EDE4;
  font-size: 5em;
  margin: 0; 
  font-style: oblique;
}

.shop-now-button {
  display: inline-block;
  background-color: transparent; 
  color: #EAD3C1;
  border: 2px solid #EAD3C1;
  cursor: pointer;
  padding: 20px 60px; 
  margin-top: 20px; 
  text-decoration: none; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}

.shop-now-button:hover {
  background-color: #EAD3C1; 
  color: #fff;
}

/*Featured Collection Styles*/
.featured-collection {
  background-color: #9a6d5a;
  position: relative; 
  overflow: hidden; 
  text-align: left;
  padding: 20px;
  min-height: 50vh;
}

.featured-collection h2 {
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 10px;
  color: #EAD3C1;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product {
  flex-basis: calc(33.333% - 20px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 30px;
}

.product img {
  width: 100%; 
  display: block;
}

.product h3 {
  margin: 10px 20px;
  font-size: 1.5em;
}

.product p {
  margin: 10px 20px;
  font-size: 1.2em;
}

.product a {
  display: inline-block;
  background-color: #2C1300; 
  color: #EAD3C1;
  border: 2px solid #2C1300;
  cursor: pointer;
  padding: 20px 60px; 
  margin-top: 20px; 
  text-decoration: none; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

.product a:hover {
  background-color: transparent; 
  color: #2C1300;
}

@media (max-width: 768px) {
  .products {
      flex-direction: column;
  }

  .product {
      flex-basis: auto;
      width: 80%;
      margin-bottom: 20px;
  }
}

/* Footer Styles */
footer {
  background-color: #EAD3C1;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.footer-section {
  padding: 0 20px;
}


/* Quick Links Styles */
.quick-links {
  flex: 0.9;
  text-align: left;
}

.quick-links ul {
  list-style: none;
  padding: 10px 0px;
  margin-left: 30%;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  color: #2C1300;
  text-decoration: none;
}

/* Subscription Form Styles */
.keep-in-touch {
  flex: 1.2;
  padding: 10px 0px;
  text-align: left;
}

.keep-in-touch h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2C1300;
}

.keep-in-touch form {
  display: flex;
  flex-direction: column;
}

.footer-section.keep-in-touch input[type="text"],
.footer-section.keep-in-touch input[type="email"] {
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2C1300;
    background-color: transparent;
}

.footer-section.keep-in-touch input[type="text"]:hover,
.footer-section.keep-in-touch input[type="email"]:hover {
  border-bottom: 2px solid #A2571A;
}

.keep-in-touch input[type="checkbox"] {
  margin-right: 5px;
}

.keep-in-touch label {
  font-size: 14px;
  color: #2C1300;
}

.keep-in-touch button {
  padding: 10px;
  background-color: transparent; 
  color: #2C1300;
  border: 2px solid #2C1300;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
}

.keep-in-touch button:hover {
  background-color: #2C1300; 
  color: #fff;
}

/* Social Media Links Styles */
.social-media {
  flex: 0.9;
  text-align: right;
}

.social-media-links {
  padding: 20px 0px;
  margin-right: 30%;
}

.social-media-links a {
  margin-right: 10px;
}

.social-media-links a img {
  width: 24px;
  height: 24px;
}
