/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EAD3C1; /* Set this to match the body background */
}

.order-button button a{
    color:#EAD3C1;
    text-decoration: none;
  
  }
  
/* Header and Navigation Styles */
.header-background {
    background-color: #2C1300;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick it to the top */
    z-index: 10; /* Ensure it stays above other content */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    height: 40px;
}

#logo {
    width: 150px;
    margin-left: 20%;
}

#nav {
    margin-top: 10px;
    text-align: center;
    flex-grow: 1;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right; 
    align-items: flex-start;
}

#nav li {
    padding: 0 15px;
}

#nav a {
    text-decoration: none;
    color: #F4EDE4;
}

/* Filter Button Styles */
.filter-container {
    text-align: center;
    padding-bottom: 20px;
    background-color: #9a6d5a; /* Match body background color */
    padding: 10px;
}

.filter-button {
    background-color: #2C1300;
    color: #F4EDE4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #A2571A;
}

.filter-button.active {
    background-color: #A2571A;
}

/* Products styles */
.product-grid {
    background-color: #9a6d5a;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 0; /* Ensure it starts from the top */
}

.product-item {
    overflow: hidden; /* This will keep the expanded image within the grid item's boundaries */
    position: relative;
    text-align: center;
    color: #2C1300;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #EAD3C1;
    display: block; /* Ensure items are displayed as block elements */
}

.product-item img {
    width: 100%;
    transition: transform 0.5s ease; /* Smooth transition for the transform effect */
}

.product-item:hover img {
    transform: scale(1.1); /* Scales up the image to 110% of its original size */
}

/* Enhanced visual hierarchy for product titles and prices */
.product-item h3 {
    font-size: 1.5em; /* Increase font size for titles */
    margin: 10px 0; /* Add some margin for spacing */
    color: #2C1300; /* Ensure title color is consistent */
}

.product-item p {
    font-size: 1.2em; /* Slightly smaller font size for prices */
    color: #A2571A; /* Different color for prices */
    margin: 5px 0; /* Add some margin for spacing */
}

/* Hide elements without affecting the layout */
.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Footer Styles */
footer {
    background-color: #EAD3C1;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.footer-section {
    padding: 0 20px;
}

/* Quick Links Styles */
.quick-links {
    flex: 0.9;
    text-align: left;
}

.quick-links ul {
    list-style: none;
    padding: 10px 0px;
    margin-left: 30%;
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    color: #2C1300;
    text-decoration: none;
}

/* Subscription Form Styles */
.keep-in-touch {
    flex: 1.2;
    padding: 10px 0px;
    text-align: left;
}

.keep-in-touch h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #2C1300;
}

.keep-in-touch form {
    display: flex;
    flex-direction: column;
}

.footer-section.keep-in-touch input[type="text"],
.footer-section.keep-in-touch input[type="email"] {
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2C1300;
    background-color: transparent;
}

.footer-section.keep-in-touch input[type="text"]:hover,
.footer-section.keep-in-touch input[type="email"]:hover {
  border-bottom: 2px solid #A2571A;
}

.keep-in-touch input[type="checkbox"] {
    margin-right: 5px;
}

.keep-in-touch label {
    font-size: 14px;
    color: #2C1300;
}

.keep-in-touch button {
    padding: 10px;
    background-color: transparent; 
    color: #2C1300;
    border: 2px solid #2C1300;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

.keep-in-touch button:hover {
    background-color: #2C1300; 
    color: #fff;
}

/* Social Media Links Styles */
.social-media {
    flex: 0.9;
    text-align: right;
}

.social-media-links {
    padding: 20px 0px;
    margin-right: 30%;
}

.social-media-links a {
    margin-right: 10px;
}

.social-media-links a img {
    width: 24px;
    height: 24px;
}

/* Add focus styles for accessibility */
a:focus, button:focus {
    outline: 4px solid #A2571A; /* Highlight the focused element */
    outline-offset: 2px; /* Offset to ensure visibility */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    #logo {
        margin-left: 0;
    }
    
    #nav ul {
        justify-content: center;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        padding: 10px 0;
    }
}
